.IndexBody {
    background-image: url(../assets/Img/Home/back1.jpeg);
}


.IndexSection {
      margin-top: 12%;
      margin-left: 10%;
      text-transform: uppercase;
  }

  
  .IndexParagraph {
      color: $color ;
      font-size: 5rem;
      width: 60%;
      text-align: center;
      top: 10%;
      margin-left: 10%;
      margin-right: 10%;
  }
  